@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


html {
    height: 100%;
}

body {
    background: linear-gradient(#2a6c88, #00AEA2);
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}

/* Authentication */
.authentication {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    height: 100vh;
}

.authentication__container {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    padding: 20px 40px;
    min-height: 600px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media(max-width: 600px) {
    .authentication__container {
        background: transparent;
        width: 100%;
        padding: 0px;
        border: 0px;
        box-shadow: none;
    }
}

.authentication__container--form {
    display: flex;
    flex-direction: column;
}

.authentication__container--form ::placeholder {
    color: white;
}

.authentication__container--form label {
    font-size: 14px;
}

.authentication__container--option {
    font-size: 14px;
    text-align: center;
}

.authentication__container--option a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.authentication__container--option a:hover {
    text-decoration: underline;
}

#authentication__container--form-loading {
    text-align: center;
}

input.authentication__container--form--input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 0px;
    outline: none !important;
    height: 50px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .authentication-container {
        background-color: transparent;
        border: 0px;
        padding: 0px;
        width: 100%;
    }
}

.btn-authentication {
    background-color: rgba(255, 255, 255, 0.23);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
    transition: background-color 70ms linear;
}

.btn-authentication:focus {
    outline: none;
}

.btn-authentication:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pointer {
    cursor: pointer;
}